<p id="notice"><%= notice %></p>

<p>
  <strong>Trackid:</strong>
  <%= @page.trackid %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>Accessdate:</strong>
  <%= @page.accessdate %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
